<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hospital</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row mt-5">
        <div class="col">
            <h3 class="text-center">Please fill all fields</h3>
        </div>
    </div>
    <form action="#" data-th-action="@{/administrator}" data-th-object="${admin}" method="post">
        <div id="firstname" class="form-row mt-5">
            <div class="form-group col-md-3 mx-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Firstname</span>
                    <input type="text" aria-label="firstname" th:field="*{firstname}">
                </div>
            </div>

            <div class="form-group col-md-3 mx-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Lastname</span>
                    <input type="text" aria-label="lastname" th:field="*{lastname}">
                </div>
            </div>

            <div class="form-group col-md-3 mx-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Username</span>
                    <input type="text" aria-label="username" th:field="*{username}">
                </div>
            </div>

            <div class="form-group col-md-3 mx-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input type="text" aria-label="password" th:field="*{password}">
                </div>
            </div>

            <input type="hidden" id="stuffRoleId" name="stuffRoleId" value="1" th:field="*{stuffRoleId}">
            <input type="hidden" th:value="ROLE_DOCTOR" th:field="*{doctorSpecialization}">


            <div class="form-group col-md-3 mx-auto">
                <div class="input-group mb-3">
                    <button type="submit" name="action" value="save">save</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>