<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Hospital</title>
</head>
<body class="text-center">
<main class="form-control">

<div layout:fragment="content">
  <div class="row mt-5">
    <div class="col">
      <h2 class="text-center mt-sm-3" th:text="#{create_new_nurse}">Create new nurse</h2>
      <h3 class="text-center mt-sm-3" th:text="#{fillAllFields}">Please fill all fields</h3>
    </div>
  </div>

  <form action="#" data-th-action="@{/administrator/nurse}" data-th-object="${nurse}" method="post">
    <form>
      <div class="form-row mt-5">
        <div class="input-group-sm mt-3">
          <input type="text" class="form-control-lg" th:placeholder="#{Firstname}"
                 th:field="*{firstname}">
        </div>

        <div class="input-group-sm mt-3">
          <input type="text" class="form-control-lg" th:placeholder="#{LastName}" th:field="*{lastname}">
        </div>

        <div class="input-group-sm mt-3">
          <input type="text" class="form-control-lg" th:placeholder="#{UserName}" th:field="*{username}">
        </div>
        <div class="input-group-sm mt-3">
          <input type="text" class="form-control-lg" th:placeholder="#{Password}" th:field="*{password}">
        </div>
        <div class="form-group">
          <div class="input-group-sm mt-3">
            <button class="btn btn-primary" type="submit" name="action" value="save"
                    th:text="#{Create}">create
            </button>
          </div>
        </div>
      </div>
    </form>
  </form>
</div>
</main>
</body>
</html>