<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hospital</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-center"><h1 th:text="#{Doctors}">Doctors</h1></div>
    <table class="table table-striped table-responsive-md mt-3">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/administrator/doctors/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}}"
                th:text="#{Firstname}">
                    First Name</a>
            </th>
            <th>
                <a th:href="@{'/administrator/doctors/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}}"
                   th:text="#{LastName}">
                    Last Name</a>
            </th>
            <th>
                <a th:href="@{'/administrator/doctors/' + ${currentPage} + '?sortField=doctorSpecialization&sortDir=' + ${reverseSortDir}}"
                th:text="#{doctorSpec}">
                    Specialization</a>
            </th>
            <th>
                <a th:href="@{'/administrator/doctors/' + ${currentPage} + '?sortField=patientCount&sortDir=' + ${reverseSortDir}}"
                th:text="#{patient_quantity}">
                    Patient quantity</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${listDoctors}">
            <td th:text="${doctor.firstname}"></td>
            <td th:text="${doctor.lastname}"></td>
            <td th:text="${doctor.doctorSpecialization}"></td>
            <td th:text="${doctor.patientCount}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="pag">
        <div th:if="${totalPages > 1}">

            <div class="row col-sm-10">
                <div class="col-sm-2" th:text="#{TotalRows} + ': ' + ${totalItems}">
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/administrator/doctors/' + ${1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                    th:text="#{First}">First</a>
                    <span th:unless="${currentPage == 1}"></span>
                </div>

                <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/administrator/doctors/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/administrator/doctors/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                    th:text="#{Last}">Last</a>
                    <span th:unless="${currentPage < totalPages}"></span>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>