<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hospital</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-center"><h1 th:text="#{Patients}">Patients</h1></div>
    <table class="table table-striped table-responsive-md mt-3">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/administrator/patients/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}}"
                   th:text="#{Firstname}">
                    First Name</a>
            </th>
            <th>
                <a th:href="@{'/administrator/patients/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}}"
                   th:text="#{LastName}">
                    Last Name</a>
            </th>
            <th>
                <a th:href="@{'/administrator/patients/' + ${currentPage} + '?sortField=birthday&sortDir=' + ${reverseSortDir}}"
                   th:text="#{Birthday}">
                    Birthday</a>
            </th>
            <th>
                <a th:href="@{'/administrator/patients/' + ${currentPage} + '?sortField=discharged&sortDir=' + ${reverseSortDir}}"
                   th:text="#{status}">
                    Discharged</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${listPatients}">
            <td th:text="${patient.firstname}"></td>
            <td th:text="${patient.lastname}"></td>
            <td th:text="${patient.birthday}"></td>
            <td th:text="${patient.discharged} ? #{healthy} : #{inHospital}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2" th:text="#{TotalRows} + ': ' + ${totalItems}">
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/administrator/patients/' + ${1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   th:text="#{First}">First</a>
                <span th:unless="${currentPage == 1}"></span>
            </div>

            <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/administrator/patients/' + ${i}+ '?sortField=' + ${sortField}
                            + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/administrator/patients/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   th:text="#{Last}">Last</a>
                <span th:unless="${currentPage < totalPages}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>