<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hospital</title>
</head>
<body class="text-center">
<main class="form-control">

    <div layout:fragment="content">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center mt-sm-3" th:text="#{createNewAppointmentLabel}">Create new appointment</h2>
            </div>
            <form action="#" data-th-action="@{/nurse/appointment}" data-th-object="${appointments}" method="post">

                <h3 class="text-center mt-sm-3" th:text="#{chooseAppointmentType}">Choose appointment type</h3>
                <div class="row">
                    <div class="form-group col-md-3 mx-auto">
                        <div class="input-group mb-3">
                            <select class="form-select" id="appointmentTypeNurse" name="appointmentTypeNurse">
                                <option value="null" th:text="#{chooseAppointmentType}">Choose appointment type</option>
                                <option th:each="type: ${appointmentType}" th:text="${type.name}"
                                        th:value="${type.name()}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <h3 class="text-center mt-sm-3" th:text="#{choosePatient}">Choose patient</h3>
                <div class="row">
                    <div class="form-group col-md-3 mx-auto">
                        <div class="input-group mb-3">
                            <select class="form-select" id="patientIdNurseAppointment"
                                    name="patientIdNurseAppointment">
                                <option value="null" th:text="#{choosePatient}">Choose patient</option>
                                <option th:each="patient: ${patients}" th:text="${patient.firstname + ' '
                                + patient.lastname + ' ' + patient.birthday}"
                                        th:value="${patient.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <h3 class="text-center mt-sm-3" th:text="#{chooseDate}">Choose date</h3>
                <div class="input-group-sm mt-3">
                    <input type="datetime-local" th:field="*{date}"/>
                </div>
                <div class="input-group-sm mt-3">
                    <input type="text" class="form-control-lg" th:placeholder="#{apsummary}" th:field="*{summary}">
                </div>

                <div id="createDoctorAppointment" class="input-group-sm mt-3">
                    <button class="btn btn-primary" type="submit" name="action" value="save" th:text="#{Create}">
                        create
                    </button>
                </div>


                <!--      <h3 class="text-center mt-sm-3">Choose appointment type</h3>-->

                <!--        <div class="row">-->
                <!--          <div class="form-group col-md-3 mx-auto">-->
                <!--            <div class="input-group mb-3">-->
                <!--              <select class="form-select" id="appointmentTypeNurse" name="appointmentTypeNurse">-->
                <!--                <option value="null">Choose appointment type</option>-->
                <!--                <option th:each="type: ${appointmentType}" th:text="${type.name}"-->
                <!--                        th:value="${type.name()}"></option>-->
                <!--              </select>-->
                <!--            </div>-->
                <!--          </div>-->
                <!--        </div>-->

                <!--        <h3 class="text-center mt-sm-3">Choose patient</h3>-->
                <!--        <div class="row">-->
                <!--          <div class="form-group col-md-3 mx-auto">-->
                <!--            <div class="input-group mb-3">-->
                <!--              <select class="form-select" id="patientIdNurseAppointment"-->
                <!--                      name="patientIdNurseAppointment">-->
                <!--                <option value="null">Choose patient</option>-->
                <!--                <option th:each="patient: ${patients}" th:text="${patient.lastname}"-->
                <!--                        th:value="${patient.id}"></option>-->
                <!--              </select>-->
                <!--            </div>-->
                <!--          </div>-->
                <!--        </div>-->

                <!--      <h3 class="text-center mt-sm-3">Choose date</h3>-->
                <!--      <div class="form-group col-md-3 mx-auto">-->
                <!--        <div class="input-group mb-3">-->
                <!--          <span class="input-group-text">Date</span>-->
                <!--          <input type="datetime-local" th:field="*{date}"/>-->
                <!--        </div>-->
                <!--      </div>-->

                <!--      <div class="form-group col-md-3 mx-auto">-->
                <!--        <div class="input-group mb-3">-->
                <!--          <span class="input-group-text">Summary</span>-->
                <!--          <input type="text" aria-label="Summary" th:field="*{summary}">-->
                <!--        </div>-->
                <!--      </div>-->

                <!--      <div class="form-group col-md-3 mx-auto">-->
                <!--        <div id="createDoctorAppointment" class="input-group mb-3">-->
                <!--          <button class="btn btn-primary" type="submit" name="action" value="save">create</button>-->
                <!--        </div>-->
                <!--      </div>-->
            </form>
        </div>
    </div>
</main>
</body>
</html>