<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hospital</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row mt-5">
        <div class="col">
            <h2 class="text-center mt-sm-3">Create new diagnose</h2>
        </div>
        <form action="#" data-th-action="@{/doctor/diagnose}" data-th-object="${appointments}" method="post">
        <h3 class="text-center mt-sm-3">Choose patient</h3>
        <div class="row">
            <div class="form-group col-md-3 mx-auto">
                <div class="input-group mb-3">
                    <select class="form-select" id="patientIdDoctorDiagnose" name="patientIdDoctorDiagnose">
                        <option value="null">Choose patient</option>
                        <option th:each="patient: ${patients}" th:text="${patient.lastname}"
                                th:value="${patient.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group col-md-3 mx-auto">
            <div class="input-group mb-3">
                <span class="input-group-text">Summary</span>
                <input type="text" aria-label="Summary" id="diagnoseSummary" name="diagnoseSummary">
            </div>
        </div>

        <div class="form-group col-md-3 mx-auto">
            <div id="createDoctorAppointment" class="input-group mb-3">
                <button class="btn btn-primary" type="submit" name="action" value="save">create</button>
            </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>