<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">
    <title>Hospital</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center"
             th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <div class="p-3 border-5">
           <span th:case="${false}">
                    <h1 class="text-center" th:text="#{welcome}"></h1>
                    <h2 class="text-center" th:text="#{welcome_2}"></h2>
           </span>
                <div class="col-xl-auto">
                     <span th:case="${true}">
                        <a class="btn btn-primary" href="/main" role="button" th:text="#{mainpage}"></a>
                     </span>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>