<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hospital</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center"
             th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <div class="p-3 border-5">
           <span th:case="${false}">

                    <h1 class="text-center"> Guest, welcome to our site!</h1>
                    <h2 class="text-center"> Please log in.</h2>

           </span>
                <div class="col-xl-auto">
                     <span th:case="${true}">
                        <a class="btn btn-primary" href="/main" role="button">Main page</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>